header{
    background-color: #070c91;
}

header button{
    color: white;
    background-color: #070c91;
    border: #070c91;
    margin-top: 5px;
}

header button:hover{
    color: #1ec5e8;
}
header select{
    background-color: #070c91;
    color: white;
    border-color: #070c91;
    margin-top: 5px;
    font-size: 14px;
}
header select:hover{
    border-color: #1ec5e8;
    cursor: pointer;
}
#section1 a{
    background-color: white;
    color: #a21a08;
}
#section1 .link-to-home-page{
    margin-top: 2%;
    font-size: 20px;
}
#section1 label{
    display: block;
    color: #1ec5e8;
}
#section1 .phonenumbericon{
    font-size: 43px;
    margin-top: -10%;
    color: #1ec5e8;
}
